aiohttp==3.7.4.post0; python_version >= "3.6" and python_full_version >= "3.5.3"
async-timeout==3.0.1; python_version >= "3.6" and python_full_version >= "3.5.3"
attrs==21.4.0; python_version >= "3.6" and python_full_version >= "3.5.3"
certifi==2021.10.8
chardet==4.0.0; python_version >= "3.6" and python_full_version >= "3.5.3"
discord.py==1.7.3; python_full_version >= "3.5.3"
idna==3.3; python_version >= "3.6" and python_full_version >= "3.5.3"
multidict==5.2.0; python_version >= "3.6" and python_full_version >= "3.5.3"
pydantic==1.9.0; python_full_version >= "3.6.1"
python-dotenv==0.19.2; python_full_version >= "3.6.1" and python_version >= "3.5"
typing-extensions==4.0.1; python_version >= "3.6" and python_full_version >= "3.6.1"
yarl==1.7.2; python_version >= "3.6" and python_full_version >= "3.5.3"
