aiohttp==3.7.4.post0; python_version >= "3.6" and python_full_version >= "3.5.3"
async-timeout==3.0.1; python_version >= "3.6" and python_full_version >= "3.5.3"
attrs==21.4.0; python_version >= "3.6" and python_full_version >= "3.5.3"
certifi==2021.10.8
chardet==4.0.0; python_version >= "3.6" and python_full_version >= "3.5.3"
colorama==0.4.4; python_version >= "3.5" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.5" and python_full_version >= "3.5.0"
discord.py==1.7.3; python_full_version >= "3.5.3"
idna==2.10; python_version >= "3.6" and python_full_version >= "3.5.3"
loguru==0.5.3; python_version >= "3.5"
multidict==5.2.0; python_version >= "3.6" and python_full_version >= "3.5.3"
pydantic==1.9.0; python_full_version >= "3.6.1"
python-dotenv==0.19.2; python_full_version >= "3.6.1" and python_version >= "3.5"
sentry-sdk==1.5.1
typing-extensions==4.0.1; python_version >= "3.6" and python_full_version >= "3.6.1"
urllib3==1.26.7; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4"
win32-setctime==1.0.4; sys_platform == "win32" and python_version >= "3.5"
yarl==1.7.2; python_version >= "3.6" and python_full_version >= "3.5.3"
